body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #56CCF2, #2F80ED);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Set a max-width for better responsiveness */
}

h1 {
    color: #2F80ED;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input,
select {
    width: calc(100% - 20px); /* Adjust the width to consider padding and border */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the total width */
}

button {
    padding: 12px;
    background-color: #2F80ED;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1E63B9;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #2F80ED;
}

/* Media queries for responsiveness */

@media screen and (max-width: 600px) {
    .container {
        width: 90%; /* Adjust width for smaller screens */
    }
}
